<div class="article article--left">
	<div class="article__img">
		<img src="" alt="">
	</div>
	<div class="article__content">
		<div class="article__header">
			A celebrity’s image is the thing they’re selling.
			<strong>It’s everything to them.</strong>
		</div>
		<div class="article__text">
			<p>And now in the digital age, that image is accessible with just a simple click or search.
				Which makes a world-class celebrity photographer more valuable than ever. It’s not
				enough to simply make them look good. It’s my responsibility to elevate their image.
				To make them distinctive. To show the world a side of them that no one has ever seen
				before – which is no easy task for celebrities who may have already spent years or
				decades in the public eye. It’s a responsibility I take very seriously.</p>
		</div>
	</div>
</div>