<div class="block block-author">
	<div class="author container">
		<div class="author__photo">
			<img src="assets/images/Grecco.png" alt="Michael Grecco">
		</div>
		<div class="author__words">
			<p>{{ author_words }}</p>
		</div>
	</div>
</div>