<form action="" id="form" class="form form-contacts">
	<div class="form__text">
		If you’re interested in creating <strong class="highlight">iconic images</strong> together, please send us the details.
	</div>

	<div class="form-group">
		<input type="text" class="form-input" id="form_name" name="form_name" required />
		<label for="form_name" class="form-label">Name <span class="highlight">*</span></label>
	</div>
	<div class="form-group">
		<input type="text" class="form-input" id="form_email" name="form_email" required />
		<label for="form_email" class="form-label">Email <span class="highlight">*</span></label>
	</div>
	<div class="form-group">
		<input type="text" class="form-input" id="form_phone" name="form_phone" required />
		<label for="form_phone" class="form-label">Phone <span class="highlight">*</span></label>
	</div>
	<div class="form-group">
		<textarea name="form_message" id="form_message" cols="30" rows="10" placeholder="Please describe what type of photo shoot that you are looking for."></textarea>
	</div>
	<div class="form-group form-captcha">
		<img src="/assets/images/captcha.png" alt="captcha">
	</div>
	<div class="form-action">
		<button class="btn btn-submit form-submit" type="submit">Let's get started </button>
	</div>

	<div class="form-hint">
		We will not share your personal information with anyone.
		<span class="highlight">*Required Fields</span>
	</div>

</form>