{% extends "base.njk" %}


	<div id="header">
		<a href="/" id="logo">
			<img src="assets/images/mg_logo.svg" alt="Logo">
		</a>

		<div class="container">
			<h1>{{ page_title }}</h1>
		</div>
	</div>

	<div id="content">

		<div class="block block-about">
			<div class="container">

				<form action="" id="form">
					If you’re interested in creating
					iconic images together, please
					send us the details.

					<div class="form-group">
						<label for="" class="form-label">Name <span>*</span></label>
						<input type="text" class="form-input">
					</div>
					<div class="form-group">
						<label for="" class="form-label">Email <span>*</span></label>
						<input type="text" class="form-input">
					</div>
					<div class="form-group">
						<label for="" class="form-label">Phone <span>*</span></label>
						<input type="text" class="form-input">
					</div>
					<div class="form-group">
						<textarea name="" id="" cols="30" rows="10" placeholder="Please describe what type of photo shoot that you are looking for."></textarea>
					</div>
					<div class="form-captcha">
						<img src="assets/images/captcha.png" alt="captcha">
					</div>
					<div class="form-action">
						<button type="submit">Let's get started</button>
					</div>

					<div class="form-hint">
						We will not share your personal information with anyone.
						<span>*Required Fields</span>
					</div>

				</form>

				<div class="text-block">
					<div class="text-block__title">Fashion is big. It creates icons. It influences culture.</div>
					<div class="text-block__text">
							It enhances self-expression and self-perception. And of
							course, it’s also big money – valued 
							globally at more than two trillion dollars.
							So it’s not surprising that seasoned,
							talented fashion photographers – who
							consistently deliver under these 
							enormous demands – are some of the
							most sought after shooters in the world.
					</div>
				</div>

			</div>
		</div>


		<div class="block block-articles">
			
			<div class="article article--left">
				<div class="article__img">
					<img src="" alt="">
				</div>
				<div class="article__content">
					<div class="article__header">
						A celebrity’s image is the thing they’re selling.
						<strong>It’s everything to them.</strong>
					</div>
					<div class="article__text">
						<p>And now in the digital age, that image is accessible with just a simple click or search.
							Which makes a world-class celebrity photographer more valuable than ever. It’s not
							enough to simply make them look good. It’s my responsibility to elevate their image.
							To make them distinctive. To show the world a side of them that no one has ever seen
							before – which is no easy task for celebrities who may have already spent years or
							decades in the public eye. It’s a responsibility I take very seriously.</p>
					</div>
				</div>
			</div>
			
			<div class="article article--right">
				<div class="article__img">
					<img src="" alt="">
				</div>
				<div class="article__content">
					<div class="article__header">
						A celebrity’s image is the thing they’re selling.
						<strong>It’s everything to them.</strong>
					</div>
					<div class="article__text">
						<p>And now in the digital age, that image is accessible with just a simple click or search.
							Which makes a world-class celebrity photographer more valuable than ever. It’s not
							enough to simply make them look good. It’s my responsibility to elevate their image.
							To make them distinctive. To show the world a side of them that no one has ever seen
							before – which is no easy task for celebrities who may have already spent years or
							decades in the public eye. It’s a responsibility I take very seriously.</p>
					</div>
				</div>
			</div>


		</div>



		<div class="block block-requires container">

			<div class="block-requires__title">
				<span>Celebrity photography</span> requires me to
			</div>

			<div class="requires requires--left">
				<div class="requires__img"><img src="" alt=""></div>
				<div class="requires__content">
					<div class="requires__title">Be creative.</div>
					<div class="requires__text">Celebrities are often very creative people themselves. They enjoy the opportunity to express themselves. As a celebrity photographer, I want to make sure I’m always bringing something to the table that helps them do that in a fresh, new way.</div>
				</div>
			</div>

			<div class="requires requires--right">
				<div class="requires__img"><img src="" alt=""></div>
				<div class="requires__content">
					<div class="requires__title">Be creative.</div>
					<div class="requires__text">Celebrities are often very creative people themselves. They enjoy the opportunity to express themselves. As a celebrity photographer, I want to make sure I’m always bringing something to the table that helps them do that in a fresh, new way.</div>
				</div>
			</div>

			<div class="requires requires--left">
				<div class="requires__img"><img src="" alt=""></div>
				<div class="requires__content">
					<div class="requires__title">Be creative.</div>
					<div class="requires__text">Celebrities are often very creative people themselves. They enjoy the opportunity to express themselves. As a celebrity photographer, I want to make sure I’m always bringing something to the table that helps them do that in a fresh, new way.</div>
				</div>
			</div>

		</div>

		<div class="block block-author">

			<div class="author container">
				<div class="author__photo">
					<img src="" alt="">
				</div>
				<div class="author__words">
					<p>Now that you know my philosophy on celebrity photography and what it takes to make an iconic celebrity image, you can start planning your photography session. I’ll be more than happy to work with you to concept and plan for our time together. So when it comes to shoot day, all we’ll have to do is point the camera at the beautiful, interesting, iconic person and out will pop a beautiful, interesting, iconic photograph.</p>
				</div>
			</div>
		</div>

	</div>
