<div class="requires requires--left">
	<div class="requires__img"><img src="" alt=""></div>
	<div class="requires__content">
		<div class="requires__title">Be creative.</div>
		<div class="requires__text">Celebrities are often very creative people themselves. They enjoy the opportunity to express themselves. As a celebrity photographer, I want to make sure I’m always bringing something to the table that helps them do that in a fresh, new way.</div>
	</div>
</div>