<div class="text-block">
	<div class="text-block__title">Fashion is big. It creates icons. It influences culture.</div>
	<div class="text-block__text">
			It enhances self-expression and self-perception. And of
			course, it’s also big money – valued 
			globally at more than two trillion dollars.
			So it’s not surprising that seasoned,
			talented fashion photographers – who
			consistently deliver under these 
			enormous demands – are some of the
			most sought after shooters in the world.
	</div>
</div>