{%
set data = {
	celebrity: {
		title: "Celebrity Photography",
		header_img_desktop: "/assets/images/bg_celebrity.jpg",
		header_img_mobile: "/assets/images/bg_celebrity_m.jpg",
		textblock_title: "Many people think celebrity photography is easy.",
		textblock_text: "Just point your camera at a beautiful, interesting, iconic person and out pops a beautiful, interesting, iconic photograph. Often times, I’ve wished it were that simple. <em>But nothing could be further from the truth.</em>",
		articles: [
			{position: "left", image: "/assets/images/celebrity-1.jpg", headline: "A celebrity’s image is the thing they’re selling.", highlighted: "It’s everything to them.", text: "And now in the digital age, that image is accessible with just a simple click or search. Which makes a world-class celebrity photographer more valuable than ever. It’s not enough to simply make them look good. It’s my responsibility to elevate their image. To make them distinctive. To show the world a side of them that no one has ever seen before – which is no easy task for celebrities who may have already spent years or decades in the public eye. It’s a responsibility I take very seriously."},
			{position: "right", image: "/assets/images/celebrity-2.jpg", headline: "Another challenge of celebrity photography is time. Namely, the lack of it. ", highlighted: "Celebrities have very limited schedules.", text: "They’re being pulled in many different directions by many different people. Therefore, maintaining control of the shoot is everything. Which is why all the technique in the world isn’t enough. A great celebrity photographer has to be a people person who can interact with – sometimes intimidating – personalities and make them feel comfortable."}
		],
		requires: [
			{position: "left", image: "/assets/images/be-creative.jpg", title: "Be creative.", text: "Celebrities are often very creative people themselves. They enjoy the opportunity to express themselves. As a celebrity photographer, I want to make sure I’m always bringing something to the table that helps them do that in a fresh, new way."},
			{position: "right", image: "/assets/images/be-efficient.jpg", title: "Be efficient.", text: "As I stated earlier, celebrities’ schedules are always changing. And when I do finally get something nailed down, time is usually short. Years of experience and my natural ability to interact with subjects allows me to maintain control and be in charge, while also be accommodating to their needs."},
			{position: "left", image: "/assets/images/be-experimental.jpg", title: "Be experimental.", text: "In order to show celebrities in a new light, I’m always pushing my dramatic lighting techniques so I can – quite literally – show them in a new light."}
		],
		author_words: "<span>Now that you know my philosophy on celebrity photography and what it takes to make an iconic celebrity image, you can start planning your photography session. I’ll be more than happy to work with you to concept and plan for our time together. So when it comes to shoot day, all we’ll have to do is point the camera at the beautiful, interesting, iconic person and out will pop a beautiful, interesting, iconic photograph.</span> <span>Contact me and we can discuss how to bring your vision to life.</span>"
	},
	advertising: {
		title: "Advertising Photography",
		header_img_desktop: "/assets/images/bg_promo.jpg",
		header_img_mobile: "/assets/images/bg_promo_m.jpg",
		textblock_title: "Advertising photography is the most demanding sub-genre of commercial photography.",
		textblock_text: "While the final image is always a reflection of the advertising photographer’s vision, it is also a reflection of the art director’s vision. And the client’s demands. And the brand’s DNA. <em>And many other variables</em>",
		articles: [
			{position: "left", image: "/assets/images/promo-1.jpg", headline: "In my opinion, there’s one very important distinction between advertising photography and every other kind of photography discipline.", highlighted: "Art, by definition, is open to interpretation.", text: "If two different people walk away from a fine art photograph or a painting or a sculpture with two different emotional interpretations, that’s okay. In fact, it’s great. But if two different people walk away from an advertising photograph with different interpretations, it’s a failure. Because advertising photography is all about solving a problem for the product in a clear and simple way."},
			{position: "right", image: "/assets/images/promo-2.jpg", headline: "Great advertising photographers often have a distinctive style and a signature look.", highlighted: "I’ve become  world-renowned for – and written several best-selling books about – my signature lighting techniques.", text: "But that doesn’t mean I rely on formulas and cookie-cutter solutions. Every advertising problem is different. Therefore, every solution requires its own well-thought-out approach."}
		],
		requires: [
			{position: "left", image: "/assets/images/be-collaborative.jpg", title: "Be collaborative.", text: "With advertising, a lot of people have skin in the game. Sometimes people’s careers and reputations rely on the success or failure of a campaign. So as the advertising photographer, it’s important to remember I’m simply one member of a team. So even though creative freedom is essential, there’s no place for egos in this field."},
			{position: "right", image: "/assets/images/be-a-problem-solver.jpg", title: "Be a problem solver.", text: "One plus one has to equal three. What does that mean? When the image is combined with the product, they must say something magical and fresh that is so much more than the sum of the two parts."},
			{position: "left", image: "/assets/images/be-ahead-of-the-curve.jpg", title: "Be ahead of the curve.", text: "Consumers don’t respond to images and messages they’ve seen before. Great advertising photographers have to be brave, go out on a limb and bring something new to the table. It’s not enough to just execute the art director’s vision. I have to add to it. Bring it to life. All while injecting my own creative vision into the finished product."}
		],
		author_words: "<span>That’s my approach to advertising photography. If you like what you’ve read – and the images you’ve seen – let’s collaborate and solve some problems together.</span> <span>Contact me to discuss advertising photography for your brand or business.</span>"
	},
	fineart: {
		title: "Fine Art Photography",
		header_img_desktop: "/assets/images/bg_fineart.jpg",
		header_img_mobile: "/assets/images/bg_fineart_m.jpg",
		textblock_title: "Fashion is big. It creates icons. It influences culture.",
		textblock_text: "I loved fine art photography long before I ever delved into it. No matter what the genre, I’ve always considered myself a visual storyteller first and foremost. And fine art photography is all about finding the story and then using concept, color and mood to tell it <em>in a visually beautiful way that’s both commercially valuable and collectible.</em>",
		articles: [
			{position: "left", image: "/assets/images/fineart-1.jpg", headline: "While I often use the same – or similar – signature lighting techniques, there’s one big difference between fine art photography and other disciplines.", highlighted: "When concepting a commercial photograph, for example, I’m usually thinking about what elements to include in the shot.", text: "But with fine art, often the biggest compositional decision is what to leave out. Every detail matters. Every detail is deliberate. And every detail is designed to communicate an awareness that is open to interpretations."},
			{position: "right", image: "/assets/images/fineart-2.jpg", headline: "Another important characteristic of fine art photography is theme.", highlighted: "In fact, I’d go so far as to say it’s often the photograph’s reason for being.", text: "And as most people know, themes can’t be complex, elaborate or confusing. They need to be simple takeaways. Which means I have to deliberately strip away any and all elements that don’t support that theme."}
		],
		requires: [
			{position: "left", image: "/assets/images/be-conceptual.jpg", title: "Be conceptual.", text: "Without an idea and a theme, it’s not a fine art photograph. My work – once a collector or gallery has it on their walls – will become objects of an interpretive process. So I utilize color palettes, framing and composition to steer the concept toward the story I’m trying to tell."},
			{position: "right", image: "/assets/images/be-focused.jpg", title: "Be focused.", text: "Simplicity is hard. And it takes a lot of effort to make something look effortless. A fine art photograph is not so much about the scene or the subject, but what I choose to reveal and what I choose to strip away."},
			{position: "left", image: "/assets/images/be-open.jpg", title: "Be open.", text: "Since everything I create comes from an artistic vision, I don’t always differentiate my work as one genre or another. Which, in turn, allows me utilize ideas and lighting techniques I might otherwise use for advertising, cars, portraits or any of the other disciplines."}
		],
		author_words: "<span>As a fine art photographer, my collections define my point of view as a photographer and as a person. If it’s a point of view that interests you, I would be happy to offer you a personal viewing of my collection. Or we could schedule a photography session together. </span> <span>Contact me to discuss how my fine art photography can add to your collection.</span>"
	},
	fashion: {
		title: "Fashion Photography",
		header_img_desktop: "/assets/images/bg_fashion.jpg",
		header_img_mobile: "/assets/images/bg_fashion_m.jpg",
		textblock_title: "Fashion is big. It creates icons. It influences culture.",
		textblock_text: "It enhances self-expression and self-perception. And of course, it’s also big money – valued globally at more than two trillion dollars. So it’s not surprising that seasoned, talented fashion photographers – who consistently deliver under these enormous demands – <em>are some of the most sought after shooters in the world.</em>",
		articles: [
			{position: "left", image: "/assets/images/fashion-1.jpg", headline: "Fashion photography is a study in contradictions.", highlighted: "At its best, it’s aspirational, exclusive and captures an idealized version of life.", text: "<p>While at the same time, it’s relatable and relevant to real life. Consumers want to imitate and become what I achieve with the camera lens. Not just visually. They want to feel what that model is feeling when he or she is wearing the clothing. They want to experience the story I’m telling.</p>"},
			{position: "right", image: "/assets/images/fashion-2.jpg", headline: "With fashion photography, people often think of the models, the elaborate sets and the stylish props.", highlighted: "But I never forget that the star of the show is the fashion itself.", text: "<p>Every detail – from the location to the casting to the lighting – is in service to the clothes. It’s my job to capture the glamor and allure of the designer’s original vision and make it relevant to the consumer.</p>"},
			{position: "left", image: "/assets/images/fashion-3.jpg", headline: "Fashion photographers have to be versatile.", highlighted: "Fashion is diverse.", text: "<p>I work in a wide array of settings, focusing on different themes and creating different emotional takeaways. But my personal style is geared toward audiences that appreciate the sartorial design, dramatic lighting and well-thought-out craftsmanship of an image.</p>"}
		],
		requires: [
			{position: "left", image: "/assets/images/be-relevant.jpg", title: "Be relevant.", text: "Fashion trends – as the name implies – come and go. Fashion photographers that aren’t adapting and evolving and staying ahead of the curve are doomed to become former fashion photographers."},
			{position: "right", image: "/assets/images/be-stylish.jpg", title: "Be stylish.", text: "I love fashion. Always have. Which I believe is necessary in this business because I don’t think it’s possible to fake it. I suppose someone could try. But it would most likely come across as inauthentic and they’d be sniffed out pretty quickly."},
			{position: "left", image: "/assets/images/think-fast.jpg", title: "Think fast.", text: "Sometimes things don’t go as planned. For whatever reason, the original agenda has to go out the window and it’s up to the fashion photographer to adapt on the fly. But since I started my career as a photojournalist, I learned early on how to be nimble, think on my feet and still deliver a stunning image."}
		],
		author_words: "<span>If you’re as passionate about fashion and fashion photography as I am, perhaps we should collaborate.</span> <span>Contact me and we can discuss how to bring your vision to life.</span>"
	},
	sports: {
		title: "Sports Photography",
		header_img_desktop: "/assets/images/bg_sports.jpg",
		header_img_mobile: "/assets/images/bg_sports_m.jpg",
		textblock_title: "Sports photography is a lot like celebrity photography.",
		textblock_text: "The athletes’ schedules are just as tight. I’m usually required to shoot around their training schedules. Which means there’s a lot of waiting around and then suddenly – with little warning – it’s go time. And also like celebrities, their image is extremely important. Some athletes make as much or more money off the field than they do on it. <em>So it’s my job to show them in a new light and enhance that image.</em>",
		articles: [
			{position: "left", image: "/assets/images/sports-1.jpg", headline: "Of course, there are real differences as well.", highlighted: "The locations, personalities and technical challenges with sports photography are as diverse as the sports themselves.", text: "I need a different lighting approach for a female figure skater than I do for a 250-pound linebacker. I need a different technical approach when I’m at the bottom of the pool shooting an Olympic swimmer than I do shooting an NBA basketball player."},
			{position: "right", image: "/assets/images/sports-2.jpg", headline: "I want to tell the athlete’s story in a real, authentic way.", highlighted: "So before every sports photography shoot, I do my research.", text: "I get to know the athlete. I do my best to accommodate their needs and make them feel comfortable – and excited – about the photoshoot."}
		],
		requires: [
			{position: "left", image: "/assets/images/be-a-storyteller.jpg", title: "Be a storyteller.", text: "I started my career as a photojournalist. And as a sports photographer, it’s my job to reveal a piece of the athlete’s story in a way that hasn’t already been done a million times over."},
			{position: "right", image: "/assets/images/be-versatile.jpg", title: "Be versatile.", text: "Making an athlete look heroic and dramatic is all about the lighting. But athletes come in all shapes and sizes. While male athletes often look great in harsher lighting with lot of specular highlights, with women, it’s usually more of a balance of soft and hard light."},
			{position: "left", image: "/assets/images/be-efficient-2.jpg", title: "Be efficient.", text: "As I already stated, athletes have tight schedules. Sometimes – especially during the season – they’re in five different cities in a week. Years of experience has taught me what works and what doesn’t. So now, I intuitively know how to avoid the kinds of problems that might slow down someone with less experience."}
		],
		author_words: "<span>If you’re as passionate about fashion and fashion photography as I am, perhaps we should collaborate.</span> <span>Contact me and we can discuss how to bring your vision to life.</span>"
	},
	automotive: {
		title: "Automotive Photography",
		header_img_desktop: "/assets/images/bg_automotive.jpg",
		header_img_mobile: "/assets/images/bg_automotive_m.jpg",
		textblock_title: "Automotive photography",
		textblock_text: " – which also includes motorcycles and other vehicles – is a unique genre with unique challenges. Cars, by their nature, are very reflective. You’re not actually shooting the car, you’re shooting everything around it – the location, the specular highlights from the light source…everything. It will all show up on that beautiful sheet metal.<br><br><em>There are two popular ways to control those variables. Which divides automotive photographers into two camps.</em>",
		articles: [
			{position: "left", image: "/assets/images/automotive-1.jpg", headline: "Some shooters prefer to create composites.", highlighted: "They’ll take many different exposures with many different lighting setups.", text: "(Often times the car and the location are not shot together at the same time and place.) After all the pieces have been collected, the image is assembled in post. And there’s nothing wrong with that approach if that’s what you’re looking for. But it’s not my approach."},
			{position: "right", image: "/assets/images/automotive-2.jpg", headline: "I like to think of myself as a naturalist.", highlighted: "I don’t believe the story should be about how we’re going to “fix it in post.\”.", text: "It should be the story the automotive photographer is telling through the lens. So I go out and find the right location at the perfect time of day. I simplify the elements. I build the set and the lighting all in one place. Because the more I can accomplish in camera, the more real and authentic the final image will feel"}
		],
		requires: [
			{position: "left", image: "/assets/images/be-a-lighting-master.jpg", title: "Be a lighting master.", text: "As I stated earlier, cars reflect everything. But the car industry doesn’t usually like to see reflections in their sheet metal. They like to see sheet metal. It takes nothing short of the perfect lighting setup to accomplish that in camera."},
			{position: "right", image: "/assets/images/be-a-planner.jpg", title: "Be a planner.", text: "There are few other photography disciplines where outside elements come into play. So it’s up to the automotive photographer to manage them and still end up with a beautiful image that doesn’t have to be manipulated and assembled in post."},
			{position: "left", image: "/assets/images/be-fast.jpg", title: "Be fast.", text: "It’s called magic hour. And it lives up to its name. It’s the time of day when cars tend to look their best. So when it hits, automotive photographers have to be ready with their game faces on. Because once that light goes away, it’s not coming back."}
		],
		author_words: "<span>If you agree with my approach and philosophy on automotive photography, please feel free to reach out.</span> <span>I’d be happy to collaborate and make a plan your photoshoot together and make some magic at magic hour.</span>"
	},
	film: {
		title: "Owning A Film Production Co.",
		requires_title: "Running a film production company",
		header_img_desktop: "/assets/images/bg_film.jpg",
		header_img_mobile: "/assets/images/bg_film_m.jpg",
		textblock_title: "Starting my own film production company wasn’t as much a decision as it was a natural progression of my background.",
		textblock_text: "I started out as a photojournalist. Which really taught me that at heart, photography is storytelling. <em>All the talent and technique in the world can’t make up for the lack of a compelling, emotional impact.</em>",
		articles: [
			{position: "left", image: "/assets/images/film-1.jpg", headline: "From there, I transitioned into celebrity, advertising and fashion photography.", highlighted: "where I gained valuable experience directing talent, collaborating with teams and learning how to use my creativity to solve problems for brands and businesses.", text: "It also helped me build long-standing relationships with world-class editors, motion&shy;graphics professionals and crew members that I love working with to this day."},
			{position: "right", image: "/assets/images/film-2.jpg", headline: "WiI then moved into directing – creating Cinemagraphs, commercials and documentary films and series.", highlighted: "Because of a career’s worth of experience and my natural ability to connect with and relate to talent, I found it to be a smooth transition.", text: "And that’s when I started my own film production company. So I could serve the needs of clients directly without having to hand off aspects of a job to others not as familiar with the particular project and process"}
		],
		requires: [
			{position: "left", image: "/assets/images/be-right-and-left-brained.jpg", title: "Be right and left brained.", text: "Running a film production company forces me to wear many hats. Obviously, I still have to be artistic. I still have to concentrate on things like story and dramatic lighting and composition. But I also need to focus on the business side, looking at problems from all angles."},
			{position: "right", image: "/assets/images/be-a-planner-2.jpg", title: "Be a planner.", text: "There are some photographers who like to wing it and shoot from the hip. And while there are some cases where it’s good to let your instincts take over and go with the flow, it’s impossible when running a production company. It’s my job to make clients feel comfortable with all aspects of a project. And the best way to do that is by creating a detailed plan. (Even if we decide to deviate from it later.)"},
			{position: "left", image: "/assets/images/be-lorem-ipsum.jpg", title: "Be lorem ipsum.", text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vehicula tincidunt diam, ac egestas or lobortis a. Praesent non arcu vitae erat vulputate ultrices. Aliquam laoreet nec urna et egestas. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas id augue lorem."}
		],
		author_words: "<span>If you’d like to know more about my background and career path, please, get in contact with me.</span> <span>I’d be happy to discuss how we can achieve the same high-quality results for your project that I’ve always strived to achieve with every other project I’ve been fortunate enough to work on.</span>"
	}
}
%}